*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea/
.git/
__pycache__
__pycache__/*
*/__pycache__
dist
docs
.venv/
logs
Dockerfile
db.sqlite3
pg_data/
Dockerfile.*
.dockerignore